*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black
}
.footer{
    background-color: #313131;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    background-color: #659f8f;
    margin: 50px;
    padding: 20px;
}
div{
    margin: 20px;
    padding: 20px;
}

  /* Form Styling */
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  form label {
    font-weight: bold;
    color: #0C0C21;
  }
  
  form input,
  form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
    background-color: #F4F4F4; 
  }
  
  form input:focus,
  form textarea:focus {
    outline: none;
    border-color: #55B76F;
    box-shadow: 0 0 5px #c7f3d3;
  }
  
  form button {
    background-color: #f16a2c;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #55B76F;}
